<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Forgot Password????  </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' href='public/main.css'>
    <script src="public/login.js" defer></script>
  </head>
  <body>
    <div class = "heading">
      <table>
        <tr>
          <td>
            <button class="link logo"> <a href="/">
              <img src="/public/favicon.ico" alt="Home" style="width:42px;height:42px;">
            </a> </button>
          </td>
          <td>
            <button class="link"> <a href="/register">
              Sign Up!
            </a> </button>
          </td>
          <td>
            <button class="link"> <a href="/login">
              Log In!
            </a> </button>
          </td>
        </tr>
      </table>
      </div>

    <h1>You Forgor Password??</h1>

    <main>
      <form name='password_form' action='/forgotPassword' method='POST'>
        <div class='form_row'>
          <input name="email" id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder='Email' required> </input>
          <input name="password" max = 64 type="password" id="passwordText" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder='New password' required> </input>
          <input class = "link" type='submit' value='Change Password'>
        </div>
      </form>
    </main>

  </body>
</html>