<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
  </head>
  <body>
    <div class = "heading">
    <table>
      <tr>
        <td>
          <a href="/"> <button class="link logo"> 
            <img src="/public/favicon.ico" alt="Home" style="width:42px;height:42px;">
           </button> </a>
        </td>
        <td>
          <a href="/register"> <button class="link"> 
            Sign Up!
           </button> </a>
        </td>
        <td>
          <a href="/login"> <button class="link"> 
            Log In!
           </button> </a>
        </td>
      </tr>
    </table>
    <center>
      <h1>Aero Armor</h1>
    </center>
    </div>
    <center>
      <h2 class="borderedBig">Why should you try the Aero Armor?</h2>
  <table style="width:100%"> <!-- About Me section forced horizontal with table-->
      <tr style="width:20%">
          <td style="width:20%"><h2 class="tblSec borderedBig giveGradient biggerGradient">
            Protects Your Loved Ones</h2>
          </td>
          <td style="width:20%"><h2 class="tblSec borderedBig giveGradient biggerGradient">
            Be Protected From Nasty Spills</h2>
          </td>
          <td style="width:20%"><h2 class="tblSec borderedBig giveGradient biggerGradient">Way cheaper than an ambulence!</h2>
          </td>
      </tr>
    </table> 
  </center>
<center> 
  <h2>How much is it??</h2> 
  <table style="width:90%"> <!-- Projects section forced horizontal with table, made slightly smaller to look better-->
  <tr style="width:20%"> 
    
      <td style="width:30%">
        <center><h2>Upfront Cost</h2> </center>
          <div class="borderedBig giveGradient biggerGradient">$300</div>
          <ul> 
              <li>We strive to make an affordable product so you can soothe your worries with half the costs</li>
              <li>Way easier and saves a pain to your wallet</li>
              <li>1 Year Warranty guaranteed!</li>
          </ul>
      </td>
      <td style="width:30%"><center><h2>Refills</h2> </center>
          <div class="borderedBig giveGradient biggerGradient">Refill with any tire inflation canister!</div>
          <ul> 
              <li>Able to be bought on Amazon or a bike shop near you!</li>
              <li>Reusable airbags!</li>
              <li>Just screw it in!</li>
          </ul>
      </td>
  </tr>
  </center>
</table> 
  </body>
</html>

  